{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main_app/main.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

	{% if title %}
		<title>Lab 1 - {{ title }}</title>
	{% else %}
		<title>Lab 1</title>
	{% endif %}
</head>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/">Lab 1 Django</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="/main_app/">Home</a>
	          <a class="nav-item nav-link" href="/main_app/about">About</a>
	          <a class="nav-item nav-link" href="/main_app/">Games</a>
	          <a class="nav-item nav-link" href="{% url 'publishers-view' %}">Publishers</a>
	          <a class="nav-item nav-link" href="{% url 'developers-view' %}">Developers</a>
	          <a class="nav-item nav-link" href="{% url 'diagrams-view' %}">Diagrams</a>
	        </div>
	        <!-- Navbar Right Side -->
	        <div class="navbar-nav">
	          <!--
	          <a class="nav-item nav-link" href="{% url 'game-create' %}">New Game</a>
	      -->
	      	  {% if user.is_authenticated %}
	      	  	<a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
	      	  	<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
	      	  {% else %}
	          	<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
	          	<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
	          {% endif %}
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>
	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	      {% block scripts %}
		  {% endblock scripts %}
		  {% if messages %}
		  	{% for message in messages %}
		  		<div class="alert alert-{{ message.tags }}">
		  			{{ message }}
		  		</div>
		  	{% endfor %}
		  {% endif %}
		  {% block content %}
		  {% endblock content %}
	    </div>
	    
	  </div>
	</main>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>