{% extends "main_app/base2.html" %}
{% block scripts %}
<script>
	$(document).ready(function(){
		var ctx = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: [{% for item in emp %}'{{ item.developer_name }}',{% endfor %}],
		        datasets: [{
		            label: 'Number of Employees',
		            data: [{% for item in emp %}{{ item.developer_employees }},{% endfor %}],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255, 99, 132, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    }
		});

		var ctx2 = document.getElementById('myPie').getContext('2d');
		var myChart2 = new Chart(ctx2, {
		    type: 'pie',
		    data: {
		        labels: ["Call of Duty: Black Ops IIII", "Call of Duty: Black Ops III",
		         "Dishonored", "Dishonored 2", "Assassin's Creed Odyssey",],
		        datasets: [{
		        	label: 'Number of Sold Copies',
		            data: [11200000, 7800000, 20000000, 18000000, 12800000],
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255, 99, 132, 1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero: true
		                }
		            }]
		        }
		    }
		});
	})
</script>
{% endblock scripts %}

{% block content %}
<canvas id="myChart" width="100" height="50"></canvas>
<canvas id="myPie" width="100" height="50"></canvas>
{% endblock content %}