{% extends "main_app/base.html" %}
{% block content %}
	{% for developer in developers %}
		<developer class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="article-content">{{ developer.developer_publisher }}</a>
		    </div>
		    <h2><a class="article-title">{{ developer.developer_name }}</a></h2>
		    <p class="article-content">Foundation year: {{ developer.developer_foundation_year }}</p>
		    <p class="article-content">{{ developer.developer_employees }} employees</p>
		  </div>
		  <div id="myChart"></div>
		</developer>
	{% endfor %}
{% endblock content %}