{% extends "main_app/base.html" %}
{% block content %}
	<game class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="article-content">{{ object.game_publisher }}</a>
	      <small class="article-content">{{ object.game_release_year }}</small>
	    </div>
	    <h4><a class="game-title">{{ object.game_name }}</a></h4>
	    <p class="article-content">{{ object.game_developer }}</p>
	    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'game-delete' object.id %}">Delete</a>
	  </div>
	</game>
{% endblock content %}