{% extends "main_app/base.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Delete Game</legend>
				<h3>Are you sure you want delete the game?</h3>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
				<a class="btn btn-outline-secondary" href="{% url 'game-detail' object.id %}">Cancel</a>
			</div>
		</form>
	</div>
{% endblock content %}