{% extends "main_app/base.html" %}
{% block content %}
	{% for game in games %}
		<game class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="article-content">{{ game.game_publisher }}</a>
		      <small class="article-content">{{ game.game_release_year }}</small>
		    </div>
		    <h2><a class="article-title" href="{% url 'game-detail' game.id %}">{{ game.game_name }}</a></h2>
		    <p class="article-content">{{ game.game_developer }}</p>
		  </div>
		</game>
	{% endfor %}
{% endblock content %}