{% extends "main_app/base.html" %}
{% block content %}
	{% for publisher in publishers %}
		<game class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="article-content">{{ publisher.publisher_address }}</a>
		    </div>
		    <h2><a class="article-title">{{ publisher.publisher_name }}</a></h2>
		    <p class="article-content">Foundation year: {{ publisher.publisher_foundation_year }}</p>
		  </div>
		</game>
	{% endfor %}
{% endblock content %}